@use '../abstract' as *;

// -----------------------------------------------------------------------------
// This file contains the utility classes for position and display.
// -----------------------------------------------------------------------------

/* Custom position utilities classes picked from design */
.flex-group {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--flex-column-gap, $flex-group-gap);
  row-gap: var(--flex-row-gap, calc($flex-group-gap / 2));
  width: fit-content;
}

.flex-group.mx-auto {
  justify-content: center;
}

/* Display */
@each $val in $display {
  @if $val == 'none' {
    .hidden {
      display: $val;
    }
  }
  .#{$val} {
    display: $val;
  }
}

/* Position */
@each $val in $positions {
  .#{$val} {
    position: $val;
  }
}

/* Box-shadow */
@each $key, $val in $shadows {
  @if ($key == 'default') {
    .shadow {
      box-shadow: $val;
    }
  } @else {
    .shadow-#{$key} {
      box-shadow: $val;
    }
  }
}
