@use '../abstract' as *;
// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  @include btn;
}

.btn--white {
  @include btn($white, $gray-900);
}

.btn--blue {
  @include btn($primary, $white, $primary);
}

/* Button using exceptional approach with data-type */

.button {
  display: inline-flex;
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: $fw-700;
  padding: 1.125em 2em;

  transition: 275ms ease;
  // --border-width: 5px;

  /* Two type of buttons have the same size hence we need to deal with the border or outline of outline-button */
  &[data-type='accent'] {
    background-color: clr(primary, 400);
    color: clr(neutral, 900);
    // border: solid var(--border-width) clr(accent, 400);
  }

  &[data-type='outline'] {
    --outline-size: 5px;
    background: transparent;
    outline: var(--outline-size) solid clr(neutral, 100);
    outline-offset: calc(var(--outline-size) * -1);
    color: clr(neutral, 100);
  }

  &:is(:hover, :focus) {
    background-color: clr(neutral, 100);
    color: clr(neutral, 900);
  }
}
