@use '../abstracts' as *;

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove built-in form typography styles */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a[class*='button'],
a[class*='btn'],
a[role='button'] {
  text-decoration: none;
  color: inherit;

  @include on-event {
    color: clr(primary, 400);
    text-decoration: underline;
  }
}

::selection {
  background-color: clr(neutral, 400);
  color: clr(neutral, 100);
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Screen-reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: none;
}
